/* login & register styling */


body {
	align-items: center;
	background-color: #1a3d2c;
	display: flex;
	justify-content: center;
	height: 100vh;
}

#form_block, .register-block {
	
	background-color: #629e74;
	border-radius: 20px;
	box-sizing: border-box;
	height: 450px;
	padding: 20px;
	font-family: Roboto, Arial, sans-serif;
	color: white;
	text-align: center;
	text-decoration: none;

	
}

.form_field_wrap {
	height: 50px;
	position: relative;
	width: 100%;
	margin: 5px 0;
	
}


#login, #login_password, #login_email, .input, #register {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;

}

/* register-select styling */

.form_field_wrap select {
	background-color: white;
	height: 50px;
	width: 100%;
	text-align-last:center; 
	color: #a1a1a1;
	font-family: Roboto, Arial, sans-serif;
	border: none;
}



#login, #register {
	background-color: #1a3d2c;
	color: white;
	border-style: none;
}

#login:active, #register:active {
	background-color: #225c40;
	color: white;

}


::placeholder {
	text-align: center;
	
}

.register a
{
	color: white; 
	font-size: 12px;
	text-decoration: none;
	
}

